.default {
    margin: 0;
    padding:0;
    height:100%;
}
.grow {
    flex-grow: 1;
}
.nav-item {
    align-items: end;
}

.box {
    height: 100%;
}

.banner {
    margin-bottom: 0;
    height:24rem;
}
@media (max-width:300px){
    .banner {
        height: auto;
    }
    .banner-img{
        width:250px;
        height: 250px;
    }
}
.banner h3{
    font-size: xx-large;
}
.banner-img{
    width: 250px;
    height: 250px;
}
.justify-right {
    display: grid;
    justify-self: flex-end;
}
.d-block {
    height:52rem;
    margin: auto;
    width: 100%;
    background-color: black;
    padding: 0;
}
img.featured-item{
    object-fit: cover;
}
h3.featured-item {
    color: rgb(162, 162, 179);
    font-size: xx-large;
}
p.featured-item{
    color: rgb(230, 230, 230);
    font-size: x-large;
}